.ma2_3 { margin: 0.75rem; }
.ma3_4 { margin: 1.5rem; }
.ma4_5 { margin: 3rem; }
.ma5_6 { margin: 6rem; }
.ma6_7 { margin: 12rem; }

.mt2_3 { margin-top: 0.75rem; }
.mt3_4 { margin-top: 1.5rem; }
.mt4_5 { margin-top: 3rem; }
.mt5_6 { margin-top: 6rem; }
.mt6_7 { margin-top: 12rem; }

.mb2_3 { margin-bottom: 0.75rem; }
.mb3_4 { margin-bottom: 1.5rem; }
.mb4_5 { margin-bottom: 3rem; }
.mb5_6 { margin-bottom: 6rem; }
.mb6_7 { margin-bottom: 12rem; }

.mr2_3 { margin-right: 0.75rem; }
.mr3_4 { margin-right: 1.5rem; }
.mr4_5 { margin-right: 3rem; }
.mr5_6 { margin-right: 6rem; }
.mr6_7 { margin-right: 12rem; }

.ml2_3 { margin-left: 0.75rem; }
.ml3_4 { margin-left: 1.5rem; }
.ml4_5 { margin-left: 3rem; }
.ml5_6 { margin-left: 6rem; }
.ml6_7 { margin-left: 12rem; }

.mv2_3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.mv3_4 { margin-top: 1.5rem; margin-bottom: 0.75rem; }
.mv4_5 { margin-top: 3rem; margin-bottom: 0.75rem; }
.mv5_6 { margin-top: 6rem; margin-bottom: 0.75rem; }
.mv6_7 { margin-top: 12rem; margin-bottom: 0.75rem; }

.mh2_3 { margin-left: 0.75rem; margin-right: 0.75rem; }
.mh3_4 { margin-left: 1.5rem; margin-right: 0.75rem; }
.mh4_5 { margin-left: 3rem; margin-right: 0.75rem; }
.mh5_6 { margin-left: 6rem; margin-right: 0.75rem; }
.mh6_7 { margin-left: 12rem; margin-right: 0.75rem; }

.pa2_3 { padding: 0.75rem; }
.pa3_4 { padding: 1.5rem; }
.pa4_5 { padding: 3rem; }
.pa5_6 { padding: 6rem; }
.pa6_7 { padding: 12rem; }

.pt2_3 { padding-top: 0.75rem; }
.pt3_4 { padding-top: 1.5rem; }
.pt4_5 { padding-top: 3rem; }
.pt5_6 { padding-top: 6rem; }
.pt6_7 { padding-top: 12rem; }

.pb2_3 { padding-bottom: 0.75rem; }
.pb3_4 { padding-bottom: 1.5rem; }
.pb4_5 { padding-bottom: 3rem; }
.pb5_6 { padding-bottom: 6rem; }
.pb6_7 { padding-bottom: 12rem; }

.pr2_3 { padding-right: 0.75rem; }
.pr3_4 { padding-right: 1.5rem; }
.pr4_5 { padding-right: 3rem; }
.pr5_6 { padding-right: 6rem; }
.pr6_7 { padding-right: 12rem; }

.pl2_3 { padding-left: 0.75rem; }
.pl3_4 { padding-left: 1.5rem; }
.pl4_5 { padding-left: 3rem; }
.pl5_6 { padding-left: 6rem; }
.pl6_7 { padding-left: 12rem; }

.pv2_3 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.pv3_4 { padding-top: 1.5rem; padding-bottom: 0.75rem; }
.pv4_5 { padding-top: 3rem; padding-bottom: 0.75rem; }
.pv5_6 { padding-top: 6rem; padding-bottom: 0.75rem; }
.pv6_7 { padding-top: 12rem; padding-bottom: 0.75rem; }

.ph2_3 { padding-left: 0.75rem; padding-right: 0.75rem; }
.ph3_4 { padding-left: 1.5rem; padding-right: 0.75rem; }
.ph4_5 { padding-left: 3rem; padding-right: 0.75rem; }
.ph5_6 { padding-left: 6rem; padding-right: 0.75rem; }
.ph6_7 { padding-left: 12rem; padding-right: 0.75rem; }