/* size */
.w0_1__{
    width: 0.3rem; 
}

.w0_1_{
    width: 0.4rem; 
}

.w0_1{
    width: 0.5rem; 
}

.w1_____{
    width: 0.6rem;
}

.w1____{
    width: 0.7rem;
}

.w1__{
    width: 0.8rem;
}

.w1_{
    width: 0.9rem;
}

.w1_2{
    width: 1.5rem; 
}

.w2_3{
    width: 3rem; 
}

.w3_4{
    width: 6rem; 
}

.w4_5{
    width: 12rem; 
}

.w5_6{
    width: 24rem; 
}

.w6{
    width: 32rem; 
}

.w-5{
    width: 5%;
}

.w-15{
    width: 15%;
}

.w-35{
    width: 35%;
}

.w-45{
    width: 45%;
}

.w-55{
    width: 55%;
}

.w-65{
    width: 65%;
}

.w-85{
    width: 85%;
}

.w-95{
    width: 95%;
}

.h0_1__{
    height: 0.3rem; 
}

.h0_1_{
    height: 0.4rem; 
}

.h0_1{
    height: 0.5rem; 
}

.h1_____{
    height: 0.6rem;
}

.h1____{
    height: 0.7rem;
}

.h1__{
    height: 0.8rem;
}

.h1_{
    height: 0.9rem;
}

.h1_2{
    height: 1.5rem; 
}

.h2_3{
    height: 3rem; 
}

.h3_4{
    height: 6rem; 
}

.h4_5{
    height: 12rem; 
}

.h5_6{
    height: 24rem; 
}

.h6{
    height: 32rem; 
}

.h-10{
    height: 10%;
}

.h-20{
    height: 20%;
}

.h-30{
    height: 30%;
}

.h-40{
    height: 40%;
}

.h-60{
    height: 60%;
}

.h-70{
    height: 70%;
}

.h-80{
    height: 80%;
}

.h-90{
    height: 90%;
}